<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue-2.5.9.js"></script>
    <script src="js/vue-router-v3.0.1.js"></script>
</head>
<body>
    <div id="app">

        firstname:
        <input type="text" v-model="firstname"> + lastname:
        <input type="text" v-model="lastname"> = fullname:
        <input type="text" v-model="fullname">

        <hr>
        <p>{{ fullname }}</p>
        <p>{{ fullname }}</p>
        <p>{{ fullname }}</p>
    </div>

    <script>
    var vm = new Vue({
        el:"#app",
        data:{
            firstname:'',
            lastname:''
        },
        methods:{},
        computed:{
            // 计算属性区域
            'fullname':function(){
                // 这个fullname就是计算属性，在页面中，使用计算属性的时候，永远把它当做普通的实行来使用
                // 只要计算属性 的function中，所依赖的任何数据发生改变了，则会触发，计算属性的重新求值
                // 计算属性的值，如果被第一次计算后，没有发生变化，则会把第一次的值，缓存起来，功后续使用，这样能够提高性能
                return this.firstname + '-' + this.lastname
            }
        }
    })
    </script>
</body>
</html>